
<% if flash.has?(:message) %>
  <div style="color:green;">
    <%= flash[:message] %>
  </div>
<% end %>

<h3> <%= @task.name %>: </h3>
<textarea name="content" rows="10" cols="40" readonly><%=@task.content%></textarea>
<form action="/tasks/<%=@task.id%>/delete" method="post">
  <input type="submit" value="Delete Task">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
</form>
<form method="get" action="/tasks/<%=@task.id%>/edit">
  <button type="submit">Edit Task</button>
</form>

<br>
<form method="get" action="/tasks">
  <button type="submit">Pending Tasks</button>
</form>
<form method="get" action="/tasks/new">
  <button type="submit">Add New Task</button>
</form>
